parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.#'
        - '#function get_class expects object, Throwable\|null given\.#'
        - '#Parameter .1 \$array_arg of function sort expects array, array<bool\|float\|int\|string, mixed> given\.#'
